<main class="bg-light">
  <div class="container pb-5">
    <div class="row">
      <!--progression-->
      <div class="col-2 d-none side-menu d-md-block pt-4">

        <div class="row profile p-2">
          <div class="col-4">
            <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/practicaldev/image/fetch/s--J1kzwnl0--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/67976/544fe0f6-b766-4437-8afd-a39930044121.jpeg" alt="">
          </div>
          <div class="col-8">
            <p class="font-weight-bold mb-2">David</p>
            <a href="#">
              <small>@daviidy</small>
            </a>
          </div>
        </div>

      </div>
      <!--end progression-->
      <!--main content-->
      <div class="col-md-8 main-content pt-5">
        <div class="d-flex border bg-white rounded">
          <div class="p-2">
            <img class="img-fluid rounded-circle h-50" src="https://res.cloudinary.com/practicaldev/image/fetch/s--J1kzwnl0--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/67976/544fe0f6-b766-4437-8afd-a39930044121.jpeg" alt="">
          </div>
          <div class="pt-2 pb-4">
            <div class="user-info">
              <p>David YAO</p>
              <small>Dec 1</small>
            </div>
            <div class="title mt-2 mb-2">
              <h2 class="font-weight-bold">Why shouldn't you learn programming ?</h2>
            </div>
            <div class="actions d-flex">
              <i class="fa fa-link" aria-hidden="true"></i>
              <i class="fa fa-pencil mr-2 ml-2" aria-hidden="true"></i>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <!--end main content-->
      <div class="col-2 users pt-4">
        <div class="row bg-white border rounded">
          <h5 class="font-weight-bold p-3 border-bottom w-100">
            Users
          </h5>
          <nav class="d-flex flex-column">
            <a class="p-3 w-100" href="#">Silas</a>
            <a class="p-3 w-100" href="#">Sinan</a>
            <a class="p-3 w-100" href="#">Binyam</a>
            <a class="p-3 w-100" href="#">Eric</a>
          </nav>
        </div>
      </div>
      <div id="overlay"></div>
    </div>
  </div>
</main>
